name: auto-approve non-sdks
on:
  issues:
    types: [opened]
jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: |
      github.actor == 'getsentry-release' && (
        startsWith(github.event.issue.title, 'publish: getsentry/arroyo@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/json-schema-diff@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/pytest-sentry@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/relay/py@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/responses@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-forked-django-stubs@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-kafka-schemas@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-redis-tools@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/snuba-sdk@') ||
        false
      )
    steps:
      - run: gh issue edit ${{ github.event.issue.html_url }} --add-label accepted
        env:
          # can't use `GITHUB_TOKEN` because we need to trigger actions
          GH_TOKEN: ${{ secrets.GH_SENTRY_BOT_PAT }}
