name: auto-approve non-sdks
on:
  issues:
    types: [opened]
jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: |
      ( 
        github.actor == 'getsentry-release' ||
        github.actor == 'sentry-release-bot[bot]'
      ) && (
        startsWith(github.event.issue.title, 'publish: getsentry/arroyo@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/auto-type-annotate@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/devenv@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/infra-event-notifier@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/jest-sentry-environment@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/js-source-scopes@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/json-schema-diff@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/ophio@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/pdb@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/pyo3-python-tracing-subscriber@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/pytest-sentry@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/relay/py@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/responses@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/rust-proguard@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/rust-sourcemap@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/rust-usage-accountant@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/script-runner@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-forked-django-stubs@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-forked-djangorestframework-stubs@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-forked-jsonnet@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-infra-tools@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-kafka-management@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-kafka-schemas@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-protos@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/sentry-redis-tools@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/service-registry@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/skrooge@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/snuba-sdk@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/statsdproxy@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/status-page-list@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/streams/sentry_streams@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/symbolic@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/usage-accountant@') ||
        startsWith(github.event.issue.title, 'publish: getsentry/watto@') ||
        false
      )
    steps:
      - run: gh issue edit ${{ github.event.issue.html_url }} --add-label accepted
        env:
          # can't use `GITHUB_TOKEN` because we need to trigger actions
          GH_TOKEN: ${{ secrets.GH_SENTRY_BOT_PAT }}
