name: Test
on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash
jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: unit tests
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/cache@v4
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('package.json', 'yarn.lock') }}

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test
